<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.zzz.jiadian.dao.CartResultDao'>
    <select id="selectByUid" resultType="com.zzz.jiadian.entity.CartResult">
        select cart.cart_id,picture.address,goodsd_inf.name,goodsd_inf.color,goodsd_inf.price,cart.num,goodsd_inf.limit
        from cart, picture, goodsd_inf, goods_goods_inf
        where cart.uid = #{uid} and cart.goods_inf_id = goodsd_inf.goods_inf_id and goods_goods_inf.goods_inf_id = goodsd_inf.goods_inf_id
                and goods_goods_inf.gid = picture.gid and picture.seq = 1 and goods_goods_inf.status = 1
    </select>
</mapper>
